/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=McLaren&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #353535;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #353535;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #515353;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    padding-top: 8px;
}

h1 {
    font-family: 'Mclaren', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: blanchedalmond;
    font-size: 25px;
    padding-bottom: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    background-color: #353535;
}

#menu i {
    margin-bottom: 1em;
    color: blanchedalmond;

}

.active {
    border-bottom: 1px solid #353535;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #353535;
    display: none;
    top: 100%;
    color: blanchedalmond;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1rem;
    color: blanchedalmond;
}

/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

#coffee-belt {
    height: 600px;
    width: 100%;
}

main {
    padding: 10px;
    font-size: 10px;
}

#regions {
    padding-bottom: 1rem;
}

#countries {
    padding-left: 1rem;
}

#robusta-arabica {
    padding: 1rem 0;
}

#arabica {
    padding: 1rem 0;
}

#robusta {
    padding: 1rem 0;
}

/* Resources */
#sources {
    padding: 1rem 0;
    font-style: italic;
}

.source-list {
    padding-left: 1rem;
}

#images {
    padding: 1rem 0;
    font-style: italic;
}

.image-list {
    padding-left: 1rem;
}

/* Latin America */
#america {
    padding-bottom: 1rem;
}

#brazil {
    padding: 1rem 0;
}

#columbia {
    padding: 1rem 0;
}

#costa {
    padding: 1rem 0;
}

#mexico {
    padding: 1rem 0;
}

/* Africa */
#africa {
    padding-bottom: 1rem;
}

#ethiopia {
    padding: 1rem 0;
}

#kenya {
    padding: 1rem 0;
}

#rwanda {
    padding: 1rem 0;
}

#tanzania {
    padding: 1rem 0;
}

/* Asia */ 
#asia {
    padding-bottom: 1rem;
}

#india {
    padding: 1rem 0;
}

#indonesia {
    padding: 1rem 0;
}

#malaysia {
    padding: 1rem 0;
}

#papua {
    padding: 1rem 0;
}

/* Footer */
footer {
    background-color: #353535;
}

#social-networks {
    padding: 20px 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: blanchedalmond;
    text-align: justify;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: 100%;
    }

    #menu {
        display: flex;
        align-items: right;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    img {
        padding-top: 1px;
    }

    .title {
        font-size: 100%;
        padding-left: 2rem;
        width: 80%;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 79px;
    }

    main {
        font-size: 10px;
    }

    #logo {
        max-height: 10%;
    }
}

    /* Hover effect on laptops and upwards (992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid blanchedalmond;
        }

        /* Footer color change */
        .fa-brands:hover {
            color: blue;
        }
}