/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=McLaren&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #353535;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #353535;
    padding: 0 1rem;
    position: absolute;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #515353;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    padding-top: 8px;
}

h1 {
    font-family: 'Mclaren', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-size: 25px;
    padding-bottom: 2px;
}

.menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    background-color: #353535;
}

.menu li a {
    margin-bottom: 1em;
    text-decoration: none;
    color: white;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1rem;
    color: white;
}

/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

main {
    /* padding: 10px; */
    font-size: 12px;
}

.section-image>img {
    height: 383px;
    width: 100%;
}

.regions {
    padding-bottom: 1rem;
}

.countries {
    padding: 1rem 0;
}

#most-coffee {
    padding-left: 1rem;
}

#robusta-arabica {
    padding: 1rem 0;
}

.beans {
    padding: 1rem 0;
}

/* Resources */
.sources {
    padding: 1rem 1rem;
    font-style: italic;
    font-size: 11px;
}

.source-list {
    padding-left: 1rem;
    font-size: 11px;
}

/* Footer */
footer {
    background-color: #353535;
}

#social-networks {
    padding: 20px 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 20px;
    padding: 5%;
    color: white;
    text-align: justify;
}

/* Media query: tablets (768px) */
@media only screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: 100%;
    }

    .menu {
        display: flex;
        align-items: flex-end;
    }

    .menu li a {
        padding-left: 1rem;
        text-decoration: none;
        color: white;
    }

    .nav-toggle-label {
        display: none;
    }

    img {
        padding-top: 1px;
    }

    .title {
        font-size: 100%;
        padding-left: 2rem;
        width: 80%;
    }

    /* Main content */
    /* main {
        Push main content down to accomodate larger header
        margin-top: 79px;
    } */

    main {
        font-size: 15px;
    }

    #coffee-belt>img {
        height: 452px;
        width: 100%;
    }

    /* Resources */
    .sources {
        font-size: 14px;
    }

    .source-list {
        font-size: 14px;
    }

    /* Footer */
    #social-networks i {
        font-size: 32px;
    }
}

/* Media query: laptops (992px) */
@media only screen and (min-width: 992px) {

    /* Main content */
    main {
        font-size: 15px;
    }

    .menu {
        display: flex;
        align-items: flex-end;
    }

    .menu li a {
        padding-left: 1rem;
        text-decoration: none;
        color: white;
    }

    #coffee-belt>img {
        height: 519px;
        width: 100%;
    }

    /* Resources */
    .sources {
        font-size: 14px;
    }

    .source-list {
        font-size: 14px;
    }

    /* Footer */
    #social-networks i {
        font-size: 48px;
    }
}

/* Media query: desktops (1200px) */
@media only screen and (min-width: 1200px) {

    /* Main content */
    main {
        font-size: 18px;
    }

    .menu {
        display: flex;
        align-items: flex-end;
    }

    .menu li a {
        text-decoration: none;
        color: white;
    }

    /* Resources */
    .sources {
        font-size: 17px;
    }

    .source-list {
        font-size: 17px;
    }

    #coffee-belt>img {
        height: 325px;
        width: 100%;
    }

    /* Footer */
    #social-networks i {
        font-size: 35px;
    }
}

/* Hover effect on laptops and upwards (992px and up) */
@media screen and (min-width: 992px) {
    .menu li a:hover {
        border-bottom: 1px solid white;
    }
}